.main-container {
    background: #4B4494;
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
}

.main-text-div {
    display: flex;
    width: 651px;
    height: 400px;
    align-items: flex-end;
    flex-direction: column;
}

.main-text-div h1,
p {
    direction: rtl;
}

.main-text-div h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 106px;
    color: #FFFFFF;
}

.main-text-div h1 span {
    border-bottom: 5px solid #A444B8;
}

.main-text-div p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 50px;
    line-height: 73px;
    margin-bottom: 50px;
}

.main-text-div a {
    display: inline-block;
    height: 40px;
    margin-right: 60px;
    width: 248px;
    background: #9A53BD;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    line-height: 36px;
    font-weight: 500;
    color: #FFFFFF;
}

.main-img-div img {
    width: 600px;
    margin-top: -50px;
}

@media screen and (max-width:1342px) {
    .main-container {
        height: 700px;
    }

    .main-img-div {
        width: 500px;
    }

    .main-img-div img {
        width: 100%;
    }

    .main-text-div h1 {
        font-size: 60px;
    }

    .main-text-div p {
        font-size: 40px;
    }

    .main-text-div p img {
        width: 25px;
        height: 130px;
    }
}

@media screen and (max-width:1055px) {

    .main-img-div {
        width: 500px;
    }

    .main-img-div img {
        width: 100%;
    }

    
    .main-text-div p img {
        width: 25px;
        height: 120px;
    }
    
    .main-text-div h1 {
        font-size: 40px;
    }

    .main-text-div p {
        font-size: 30px;
    }
    .main-text-div a {
        height: 35px;
        width: 200px;
        font-size: 20px;
    }
}

@media screen and (max-width: 850px) {
    .main-container {
        height: 900px;
        width: 100vw;
        flex-direction: column-reverse;
        align-items: center;
    }

    .main-text-div {
        width: 600px;
        margin-top: 50px;
    }

    .main-text-div h1,
    p {
        margin: 0 auto;
        text-align: center;
    }

    .main-text-div a {
        display: inline-block;
        margin: 0 auto;
        display: flex;
    }

    .main-img-div {
        width: 600px;
        height: 500px;
    }
}




@media screen and (max-width: 600px) {
    .main-text-div {
        width: 400px;
    }

    .main-img-div {
        width: 400px;
        height: 400px;
    }
}
@media screen and (max-width: 400px) {
    .main-text-div {
        width: 300px;
    }    

    .main-img-div {
        width: 300px;
        height: 350px;
    }
    .main-text-div h1 {
        font-size: 30px;
    }

    .main-text-div p {
        font-size: 20px;
    }
    .main-text-div a {
        height: 35px;
        width: 150px;
        font-size: 16px;
    }
}