.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    height: 90px;
}

.logo-navbar img {
    width: 70px;
    height: 60px;
}

.navlinks {
    width: 550px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.navlinks a {
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #FFFFFF;
}

.navlinks a:hover {
    color: #8E8D8C;
}

.nav-icons {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1.5px solid white;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.nav-icons a img {
    width: 22px;
}
.hambruger-menu {
    display: none;
}
#hide {
    display: none;
}
@media screen and (max-width:910px) {
    .hambruger-menu {
        display: unset;
    }
    .nav-icons {
        display: none;
    }
    
    .navlinks {
        display: none;
    }

    .navbar {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
    }
    
    .mobile-navlinks {
        position: absolute;
        top: 50%;
        margin-top: 90px;
        left: 50%;
        display: flex;
        align-items: center;
        overflow: hidden;
        padding-top: 150px;
        z-index: 999;
        gap: 60px;
        flex-direction: column;
        background: #382B6A;
        height: 100vh;
        transform: translate(-50%, -50%);
        width: 100vw;
    }
    
    .mobile-navlinks a {
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        color: #FFFFFF;
    }
 
}
@media screen and (max-width: 361px) {
    .navbar {
        padding: 0 25px;
    }
}