.team-container {
    border: 2px solid red;
    height: 800px;
    overflow: hidden;display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.team-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}
.team-container div h2{
    font-weight: 700;
    font-size: 65px;
    line-height: 97px;
    color: #FFFFFF;
}